/.git
/.github
/file
/dags_setup
/config
/diagram
/world_cup_qatar_elt_dbt/dbt/logs
/world_cup_qatar_elt_dbt/dbt/target
/world_cup_qatar_elt_dbt/dbt/.user.yml
/scripts
/.dockerignore
/.gitignore
/.envrc
/Dockerfile
/LICENSE
/pyproject.toml
/poetry.lock
/deploy-dag.yaml
/deploy-dbt-app-cloud-run-job.yaml
/*.md
/.idea
*.iml
/README.md
*.egg-info
__pycache__
